* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e9e9e9;
    color: #707070;
}


.image-header img {
    border-radius: 100px;
}
.sobre-mim img {
    border-radius: 100px;
    display: inline;
}

.image-header {
    padding: 10px;
    width: 200px;
    margin-right: 50px;
}

.header {
    vertical-align: center;
}

.header-content {
    width: 800px;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-header {
    width: 400px;
}

.sobre-mim {
    max-width: 800px;
    text-align: center;
    display: inline-block; 
    vertical-align: middle;
}
.text-sobre {
    width: 80%;
    display: inline-block;
    clear: left;
}

.sobre-mim p {
    padding: 10px;
}
.hability {
    margin: auto;
    max-width: 800px;
}
.hability-order {
    text-align: left;
    max-width: 50%;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}
.hability-unorder {
    text-align: right;
    max-width: 50%;
    margin-left: 300px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;;
}

.hability h3, h4 {
    margin: 10px;
}

.button {
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 2px green;
    color: white;
    text-decoration: none;
    background-color: green;
    border-radius: 5px;
}

.links-bot {
    text-align: center;
    margin-top: 50px;
}

#profile.img {
    float: left;
}