body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
        }
#topo-hability {
    text-align: center;
    color: white;
    margin-top: 0px;
    background-color: #fff;
    padding: 10px 100px;
}
.headline-name {
    font-family: system-ui, 'Open Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    width: auto;
}
.habilidades {
    text-align: left;
}
